* {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

body {
    background-color: #000000;
    color: #F6F6F6;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

.titulo-destaque {
    color: #22D4FD;
}